#header{display:none;}
.links a{font-size:15px;font-family:Verdana, Geneva, sans-serif;}
#url{float:bottom;position:relative;left:500px;width:300px;overflow:hidden;height:20px;display:block;}
td{font-size:20px;}
th{font-size:20px;}
a{color:black;}